@page
@model Practice_RazorPages_Site.Pages.AboutModel
@{
    <h1>About Me</h1>

    <p>
        My name is Joe Goode. I am a student in the Full Stack Web Development program.
        I am learning ASP.NET Core to better understand backend web development.
    </p>
}
