@page
@model IndexModel
@{
    ViewData["Title"] = "Razor Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Razor Pages Website</h1>
    <p>Thanks for visiting my site. This website was created using ASP.NET Core Razor Pages.</p>
</div>
